.text-common {
  color: #574f4f !important;
}
.modal-title-custom {
  background-color: #029d16;
  font-size: 25px;
}
.text-none {
  text-transform: none !important;
  font-size: 14px !important;
}
